<!DOCTYPE html>
<html class="h-full bg-gray-50">
<head>
    <title>HTMX - Skeleton Loading</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body class="h-full flex flex-col justify-center">
<div class="w-full mx-auto max-w-7xl p-4 grid gap-5">
    <h3 class="text-base font-semibold leading-6 text-gray-900">Last 30 days</h3>
    <dl class="grid grid-cols-1 gap-5 sm:grid-cols-3">
        {{ template "placeholder" "/skeleton/stats/subscribers" }}
        {{ template "placeholder" "/skeleton/stats/open-rate" }}
        {{ template "placeholder" "/skeleton/stats/average-click" }}
    </dl>
    <div class="text-center">
        <a href="https://github.com/heyjorgedev/htmx-ux-patterns/tree/main/skeleton_loading" target="_blank" class="text-blue-500 text-xs hover:underline">View on GitHub</a>
    </div>
</div>
</body>
</html>

{{ define "placeholder" }}
<div class="h-28 overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 border" hx-get="{{ . }}" hx-trigger="load" hx-swap="outerHTML">
    <div class="animate-pulse truncate text-sm font-medium text-gray-500 w-64 h-4 bg-gray-200 rounded-xl"></div>
    <div class="animate-pulse mt-1 bg-gray-200 h-9 w-32 rounded-full"></div>
</div>
{{ end }}

{{ define "stats" }}
<div class="h-28 overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 border">
    <dt class="truncate text-sm font-medium text-gray-500">{{ .Label }}</dt>
    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ .Value }}</dd>
</div>
{{ end }}